
<div id="admin-login">
	<div class="container">

		<% if current_admin.present? %>
			<div id="admin-dash">
				<h1>Admin Dash</h1>
				<div class="divider-horizontal"></div>
			</div>
		<% else %>
			<%= render partial: "admin/sessions/adminlogin" %>
		<% end %>
	</div>
</div>
