<div class="container" id="find-agua" style="padding-top:0px; margin-top: 16px">
  <div class="wrapper">
    <% if flash[:notice] %>
      <div class="notice alert alert-success alert-dismissible" role="alert"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
    <% end %>
    <div class="container" id="aguaContainer">
      <br>
      <form id="searchForm">
        <input id="address" type="textbox" placeholder="enter address">
        <input type="submit" value="search" class="searchsubmit">
        <input type="button" value="use current location" id="currentLocation">
      </form>

      <br>

      <div id="map-canvas" style="width: 700px; height: 260px;"></div>

      <div class="btn-group-vertical method-buttons" role="group" aria-label="...">
        <button class="route-calculator"><img  data-meth="walk" src="/assets/walk.png"></button>
        <button class="route-calculator"><img  data-meth="bike" src="/assets/bike.png"></button>
        <button class="route-calculator" ><img data-meth="transit" src="/assets/transit.png"></button>
        <button class="route-calculator"><img  data-meth="drive" src="/assets/drive.png"></button>
      </div>
      <div id="directionsPanel">

      </div>
      <br>
      <!-- Button trigger modal -->
      <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="fountain-modal">add a fountain</button> -->
    </div>

    <!-- Modal -->
    <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">know of a fountain that's not on our list? let us know.</h4>
          </div>
          <div class="modal-body">
            add fountain addition request form here
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="nevermind">nevermind</button>
            <button type="button" class="btn btn-primary" id="fountain-submit">submit</button>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>
