<!-- <div class="container">
  <% if flash[:notice] %>
    <div class="notice alert alert-warning alert-dismissible" role="alert" style="margin-top: 10px"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert alert-success" style="margin-top: 10px"><%= flash[:alert] %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
  <% end %>
</div> -->

<div class="row" id="home-container">
  <a href="#thedeal">
    <div class="col-md-3" id="deal-row" style="padding: 0; position:relative;">
      <div class="col-overlay" style="position:absolute; top:0; left: 0; right: 0; bottom: 0; background-color:white; opacity: .4;"></div>
      <div class="container home-row-text" style="margin-right: 0px;position:absolute;">
        <h1>the deal.</h1>
        <p>Learn what's happening to the earth and simple ways that you can help.</p>
      </div>
    </div>
  </a>

  <a href="#dameagua">
    <div class="col-md-3" id="dame-row" style="padding: 0; position:relative;">
      <div class="col-overlay" style="position:absolute; top:0; left: 0; right: 0; bottom: 0; background-color:white; opacity: .4;"></div>
      <div class="container home-row-text" style="margin-right: 0px;position:absolute;">
        <h1>find agua.</h1>
        <p>Thirsty, but on the run? Say no to plastic and let us help you find a free water source.</p>
      </div>
    </div>
  </a>

  <a href="#findbottles">
    <div class="col-md-3" id="find-row" style="padding: 0; position:relative;">
      <div class="col-overlay" style="position:absolute; top:0; left: 0; right: 0; bottom: 0; background-color:white; opacity: .4;"></div>
      <div class="container home-row-text" style="margin-right: 0px;position:absolute;">
        <h1>find bottles.</h1>
        <p>The bottle is as important as the agua. We have options for any budget.</p>
      </div>
    </div>
  </a>

  <a href="#tapout">
    <div class="col-md-3" id="tapout-row" style="padding: 0; position:relative;">
      <div class="col-overlay" style="position:absolute; top:0; left: 0; right: 0; bottom: 0; background-color:white; opacity: .4;"></div>
      <div class="container home-row-text" style="margin-right: 0px; position:absolute;">
        <h1>tap out.</h1>
        <p>The earth needs water and so do you! Get some tips on how you can stay hydrated.</p>
      </div>
    </div>
  </a>
</div>
