<div id="tapout" class="container">
  <div class="wrapper">
    <div class="col-lg-6" id="tapout-content">
      <h2>get real, <span>your body needs water</span>.  here are some tips on how you can maximize your daily intake.</h2>
      <ul class="list-unstyled">
        <h3>make it visual</h3>
        <li>place rubber bands at the top of your water bottle and move one down for each bottle that you finish</li>
        <h3>make it a habit</h3>
        <li>drink a glass of water before every meal or right before you get into the shower </li>
        <h3>make it digital</h3>
        <li>set an hourly alarm or download an app to set daily goals</li>
      </ul>
    </div>
    <form class="col-lg-6" id="tapoutCalculator">
      <h1>tap out.</h1>
      <input type="text" placeholder="enter weight" id="weight" style="text-align:center">
      <br>
      <div class="buttons" id="tapout-buttons">
        <input type="button" value="kgs" id="kilo">
        <input type="button" value="lbs" id="pounds">
      </div>
      <br>
      <p id="result"></p>
      <p id="but"></p>
    </form>
  </div>
</div>

<div id="info">

</div>
