<div class="container" id="the-deal" style="padding-top: 0">
  <div class="wrapper" id="deal-wrapper">
    <% if flash[:notice] %>
      <div class="notice alert alert-success alert-dismissible" role="alert"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
    <% end %>
    <div id="deal-content">
      <h1><span>the deal.</span></h1>
      <div "divider-horizontal"></div><hr>

      <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/9624-200.png" id="icon1">
      <p>bottled water is expected to be the <span><b>number one packaged drink</b></span> come 2016</p>

      <br>
      <img src="http://baggotstreetwines.com/skin/frontend/default/vigoshop/images/countries/spain.png" id="icon2">
      <p>in 2014, <b>Spain</b> consumed <span><b>32.1 gallons</b></span> per capita</p>

      <br>
      <img src="https://cdn4.iconfinder.com/data/icons/icon-flat-icon-set/50/globe-2-512.png" id="icon1">
      <p>globally, around <span><b>200 billion</b></span> water bottles are consumed each year</p>

      <br>
      <img src="https://inkspand.s3.amazonaws.com/assets/Dollar-sign-icon-f54d1d5515903f1fc8709e4f31fc6658.png" id="icon2">
      <p>the global market for packaged water is valued at <span><b>$60 billion</b></span><p>
  </div>
</div>
