<div id="find-agua">
  <% if current_user.present? %>
    <h1 id="dame-user"> hey, <span style="color: #b81f00"><%= current_user.show_username %></span>! looking for agua?</h1>
  <% else %>
    <h1 id="dame-user"> hey, there! looking for agua?</h1>
  <% end %>

  <br>
  <form>
    <!-- <input type="text" name="search" placeholder="enter address" id="address">
    <input class="searchsubmit" type="button" value="search" onclick="getCoords()" id="submit"> -->
    <button class="searchsubmit" type="submit" id="current_location">use current location</button>
    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  </form>

  <div id="divider-vertical"></div>
  <br>

  <div id="map-canvas" style="width: 700px; height: 400px;"></div>

  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVbwB4MDPuOyIgFJtOxjM-4Xt5CLZXoyw"></script>
  <script src="googlemaps.js"></script>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" id="fountain-modal">
  add a fountain
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">know of a fountain that's not on our list? let us know.</h4>
      </div>
      <div class="modal-body">
        know of a fountain that's not on our list? let us know.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="nevermind">nevermind</button>
        <button type="button" class="btn btn-primary" id="fountain-submit">submit</button>
      </div>
    </div>
  </div>
</div>
