<div class="jumbotron" style="margin-top: 30px;margin-bottom: 25px">
  <div class="container">
    <h1 style="padding: 0px; margin: 0px">Dame Agua</h1>
    <p>Climate change is <b>real</b>. We're here to help you understand the environmental impact of global overconsumption, all while staying hydrated.</p>
  </div>
</div>

<div class="container" id="home-row-container">
  <div class="row" id="home-row">
    <div class="col-md-3" style="width: 25%">
      <img src="/assets/thedeal.jpg">
      <div class="container" id="home-row-text">
        <a href="/thedeal"><h1>what's the deal?</h1></a>
        <p>Learn what's happening to the earth and simple ways that you can help.</p>
      </div>
    </div>
    <div class="divider-vertical"></div>
    <div class="col-md-3" style="width: 23%">
      <img src="/assets/findagua.JPG">
      <div class="container" id="home-row-text">
        <a href="/dameagua"><h1>find agua</h1></a>
        <p>Thirsty, but on the run? Say no to plastic and let us help you find a free water source.</p>
      </div>
    </div>
    <div class="divider-vertical"></div>
    <div class="col-md-3" style="width: 23%">
      <img src="/assets/findbottles.jpg">
      <div class="container" id="home-row-text">
        <a href="/findbottles"><h1>find a bottle</h1></a>
        <p>The bottle is as important as the agua. From colors to accessories, we got options for you.</p>
      </div>
    </div>
    <div class="divider-vertical"></div>
    <div class="col-md-3" style="width: 23%">
      <img src="/assets/tapout.jpg">
      <div class="container" id="home-row-text">
        <a href="/tapout"><h1>should I #tapout?</h1></a>
        <p>The earth needs water, but so do you! Get tips on how you can stay hydrated and #tapout.</p>
      </div>
    </div>
  </div>
</div>
