<div id="tapout">
  <form id="tapoutCalculator">
    <input type="text" placeholder="enter weight" id="weight" style="text-align:center">
    <br>
    <div class="buttons">
      <input type="button" value="kgs/ml" id="kilo">
      <input type="button" value="lbs/oz" id="pounds">
    </div>
    <br>
    <p id="result"></p>
    <p id="divider"></p>
  </form>
</div>

<div id="info">

</div>
