infographic detailing climate change and how we can help
<div class="container" id="thedeal">
  <div class="row">
    <img src="/assets/recycle.png">
    <p id="climate" class="col-md-6">text</p>
  </div>

  <div class="row">
    <img src="/assets/bottle.png">
    <p id="climate" class="col-md-6">text</p>
  </div>

  <div class="row">
    <img src="/assets/poison.png">
    <p id="climate" class="col-md-6">text</p>
  </div>

  <div class="row">
    <img src="/assets/money.png" class="col-md-2">
    <p id="climate" class="col-md-6">text</p>
  </div>
</div>
