#adminnav {
  background-color: #141414;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 17px;
  border-bottom: 3px solid #005e66;
}

.admin.nav.navbar-nav.navbar-left li a {
    color: white;
}

.admin.nav.navbar-nav.navbar-left li a:hover {
  background-color: #005e66;
  color: white;
}
