// // sitewide
html {
  background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

* {
  font-family: 'Quicksand', sans-serif;
}

body {
  position: relative;
  padding-top: 0px;
  transition: 1s all;
  height: 100%;
}

#whole-page {
  background-color: #ebebff;
}

button {
  transition: 1s all;
  border-radius: 3px;
  border: none;
}

input {
  transition: 1s all;
  border-radius: 3px;
  border: none;
}

a {
  transition: 1s all;
}

// navbar
#dame-navbar {
  background-color: white;
  color: #000085;
  font-size: 18px;
  text-align: center;
  padding-right: 10px;
  a:hover {
    background-color: #000085;
    color: white;
  }
}

.nav-tabs{
  text-align: center;
}

.nav-tabs > li > a {
  color: #000085;
}

.nav-tabs > li.active > a {
  background-color: #000085 !important;
  color: white !important;
}

.dropdown-menu > li > a {
  background-color: white;
  text-align: center;
  color: #000085 !important;
  font-size: 18px;
}

.dropdown-menu > li:hover > a {
  color: white !important;
}

.form-group {
  transition: 1s all;
}
.form-group input, #signin-password {
  margin-bottom: 5px;
  font-size: 19px;
}

.form-group input:hover, #signin-password:hover {
  background-color: black;
  color: white;
}

#btn-submit {
  background-color: #000085;
  color: white;
  font-size: 16px;
}

#btn-help {
  background-color: #2b2b2b;
  color: white;
  font-size: 16px;
}

// homepage/dameagua/
.carousel {
  height: 100vh;
  color: black;
  font-size: 30px;
  img {
    height: 100%;
  }
  h1 {
    font-size: 45px;
  }
}

.item {
  height: 100vh;
  background-repeat: none;
  font-weight: 400px;
  position: relative;
}

.carousel-caption {
  bottom: 40%;
  top: 54%;
  transform: translateY(-50%);
}

.overlay {
  background-color: white;
  opacity: .3;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#deal-item {
  color: white;
}

.nav-tabs {
  float: none;
  display: inline-block;
  padding-top: 10px;
  li {
    padding: 0 10px;
  }
}

// thedeal
#the-deal {
  height: 100vh;
  margin-top: 0px;
}

#deal-wrapper {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;

  font-size: 27px;
  span {
    color: #000085;
  }
  h1 {
    font-size: 37px;
  }
}

// findagua
#aguaContainer {
  height: 100vh;
  text-align: center;
  padding: 0;
}

#find-agua {
  height: 100vh;
}

#searchForm {
  width: 1140px;
  margin: 0;
  padding-bottom: 5px;
}

#address {
  width: 700px;
  text-align: center;
  border: none;
}

#address:hover {
  border: 2px solid #000085;
}

.method-buttons {
  margin-top: 7px;
  margin-bottom: 1px;
  img {
    height: 34px;
    padding: 1px 0;
  }
  button {
    width: 250px;
    height: 45px;
    background-color: #000085;
    border: none;
    border-radius: 3px;
  }
  button:hover {
    background-color: #2b2b2b;
    color: white;
  }
}

.searchsubmit {
  width: 210px;
  background-color: #000085;
  color: white;
  font-size: 16px;
  height: 38px;
}

.searchsubmit:hover {
  // width: 100px;
}

#currentLocation {
  background-color: #2b2b2b;
  color: white;
  font-size: 16px;
  height: 38px;
  width: 210px;
}

#currentLocation:hover {
  width: 200px;
}

#map-canvas {
  text-align: center;
  transition: none;
}

#directionsPanel {
  text-align: center;
  margin-top:10px;
  max-height: 250px;
  overflow-y: scroll;
  font-size: 17px;
  max-width: 520px;
  left: 19%;

  transform: translate(300px,-10px);
}
// findbottles
#find-bottles {
  height: 100vh;
}

// tapout
#tapout {
  height: 100vh;
  text-align: center;
}

.wrapper {
  top: 30px;
  // text-align: center;
  background-color: white;
  border-radius: 3px;
  font-size: 25px;
  height: 100%;
}

#tapoutCalculator {
  top: 35%;
  h1 {
    font-size: 30px;
    color: #000085;
  }
}

#tapout-content {
  margin-top: 40px;
  text-align: center;
  height: 90%;
  border-right: 1px solid gray;
  h3, span {
    color: #000085;
  }
  h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 13px;
  }
}

#tapout-buttons {
left: 20px;
}

#kilo, #pounds {
  background-color: #000085;
  color: white;
  font-size: 16px;
  width: 134px;

}

#but {
  font-size: 14px;
}
