<div class="container" id="view-fountains">
  <iframe width="90%" height="500" scrolling="yes" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=TABLE&amp;q=select+col0%2C+col1%2C+col2%2C+col3%2C+col4%2C+col5%2C+col7%2C+col6+from+1R_CVwg5HPaY9Or5Mquur1UhvkISMh2_cdWFTiCdT&amp;containerId=googft-gviz-canvas"></iframe>

  <br>

  <a href="https://www.google.com/fusiontables/embedviz?viz=GVIZ&t=TABLE&q=select+col0%2C+col1%2C+col2%2C+col3%2C+col4%2C+col5%2C+col7%2C+col6+from+1R_CVwg5HPaY9Or5Mquur1UhvkISMh2_cdWFTiCdT&containerId=googft-gviz-canvas" target="_blank">view original Fusion Table</a>
</div>
