<nav class="navbar navbar-default navbar-fixed-bottom" id="footer" style="min-height: 27px; color: white">
  <div class="container">
    <a href="http://www.thedopefactory.com" style="color: white">created by The Dope Factory.</a>
  </div>
</nav>
